streamlit==1.48.0
pandas==2.3.1

# 배포를 위해서 런타임

# pip list # 설치된 라이브러리와 버전
# pip freeze > requirements.txt # 일반적인 requirements.txt 생성 커맨드

# pip list --format=freeze > requirements.txt # 최종형태(불필요한 부분을 제거해서 만드는 고급버전)

# 깃허브에 올리기
# 1. 개발
# 2. git add 대상파일명 or git add .
# 3. git commit -m "커밋메시지"
# 4. git push origin main
# 5. 깃허브에서 확인


# 11:20까지
# streamlit app을 배포하고 지우고를 연습
# 개발과 github 연동 전 과정에 대한 숙련도 향상